.qxSlider {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	> .slides {
		position: relative;
		width: 100% !important;
		overflow: hidden;

		> .wrap {
			position: relative;
			display: flex;
			align-items: stretch;
			transform: translate3d(0, 0, 0);
			transition: transform .5s;

			> .item {
				flex-shrink: 0;
				width: 100% !important;
				box-sizing: border-box;
			}
		}

		&.drag {
			> .wrap {
				transition: none !important;
			}
		}
	}

	> .circles {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;

		> .i {
			margin: 0 2px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #fff;
			opacity: .3;
			transform: scale(.6);
			transition: opacity .6s, transform .6s;
		}

		> .i.active {
			transform: scale(1);
			opacity: 1;
		}
	}

	> .nav {
		position: absolute;
		top: calc(50% - 15px);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, .8);
		font-size: 10px;
		color: #fff;
		cursor: pointer;

		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
		}
	}

	&.preventClick {
		pointer-events: none;
	}

	&[data-type="3"] {
		>.slides {
			>.wrap {
				>.item {
					flex: 0 0 33.33%;
				}
			}
		}
	}
}

#QXGallery {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0,0,0,.9);

	>.slider {
		width: 100%;
		height: 100%;
		overflow: hidden;

		>.slides {
			height: 100%;

			>.wrap {
				height: 100%;

				>.item {
					display: flex;
					align-items: center;
					justify-content: center;
					>img {
						max-width: 100%;
					}
				}
			}
		}

		>.circles {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	>.close {
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		align-items: center;
		cursor: pointer;

		>.n {
			font-size: 16px;
			color: #fff;
		}

		>.i {
			margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			background: #000;
			transition: background .5s;

			&:after {
				content: "×";
				display: block;
				font-size: 32px;
				color: #fff;
				transition: color .5s;
			}
		}

		&.hover {
			>.i {
				background: #fff;
				transition: background .2s;
				&:after {
					color: #000;
					transition: color .2s;
				}
			}
		}
	}
}

@media (max-width: 620px) {
	.qxSlider > .nav {
		display: none;
	}
}
